*{
    margin: 0;
    padding: 0;
    /* background-color: #333; */
    
}

#app{
    font-family: Roboto sans-serif; /*định dạng tòa trang */
    background-color: #333;
    height: 46px; 
}
.header-main{ 
    display: flex;
    height: 46px; 
    
}
.header-logo a img{
    padding: 0 25px;
}
.header-center ul{
    display: block;
    display: flex;
    list-style: none;
}
.header-center ul li a{
    text-decoration: none;
    display: block;
    padding: 14px 25px;
    color: rgb(250, 250, 250);
    border-radius: 5px;
}
.header-center ul li a:hover{
    background-color: #111;
}
.home{
    background-color: #111;
}
.header-search {
    padding: 10px 20px;
}

.header-search input{
    width: 450px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
}
.header-login{
    padding: 10px 20px;
}
.header-login button{
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
}
.Sign-in{
    width: 80px;
}
.Sign-in:hover{
    border:#f2f2f2;
}
.login{
    width: 120px;
    background-color: #f50;
}
.header-upload {
    padding: 15px 45px;
    
}
.load{
    text-decoration: none;
    color: rgb(250, 250, 250);
    background-color: #f50;
    padding: 6px 15px;
    border-radius: 8px;
    border: 1px solid black;
}
.header-about{
    float: left;
}
.header-about ul li a{
    text-decoration: none;
    font-size: 30px;
}
/* Tiêu đề  */
.boder-butom{
    width: 900px;
    border-top: 0;
    border-bottom: 1px solid rgb(155, 134, 134);
    height: 65px;
    font-size: 34px;

}
.text-chart{
    padding: 20px 0px;
}
.chart{
    margin-bottom: 0.8cm;
    border-bottom: 0;
    border-top: 1px solid rgb(155, 134, 134);
}
.p-text{
    margin-top: -0.3cm;
    color: #999;
    padding: px 0px;
}
#wapper{
    padding: 0px 20px 0px;
}

/* nav-left */

.body-sum{
    display: flex;
}
.inter{
    width: 360px;
    height: 1650px;
    background-color: rgb(255, 255, 255);
    padding: 20px 40px;
    border-left: 1px solid rgb(211, 194, 194);
}
.text-danger{
    margin-top:1cm;
    border-bottom: 1px solid #111;
}
.or-login{
    display: flex;
    padding: 10px 10px;
    margin-top: 20px;
}
.foot-wrapper{
    margin-top: 20px;
}
.foot-wrapper a{
    text-decoration: none;
    color: rgb(80, 79, 79);
    font-size: 10;
}
.foot-wrapper a:hover{
    color: rgb(123, 204, 204)
}
.foot-lange{
    display: flex;
    margin-top: 20px;
}
.foot-lange a{
    text-decoration: none;
    color: #333;
}
.foot-lange a:hover{
    color: rgb(116, 177, 177)
}

  /*    Tạo Slide chart     */
.wap-ss-img{
    width: 100%;
}
.wap-ss-img img{ 
    height: 173px;
    margin: 0 auto;
}

.slick-prev:before, .slick-next:before{
    font-family: fontawesome;
    font-size: 30px;
    color: rgb(206, 147, 19);
}
.text-min{
    font-size:13px;
    color: #999;
}
.slick-prev:before, .slick-next:before:hover{
    color: #f50;
}
img{
    border-radius: 10px;
}
.container{
    width: 900px;
    padding: 20px 30px 50px 50px;
    background-color: #f8f8f2;
    
}
.overlay{
    position: absolute;
    transform: translate (-50%, -50%);
}
.hover-img{
    position: absolute;
    transform: translate (-50%, -50%);
}
.textleft{
    float: left;
    margin-top: 4.5cm;
}
.overlay{ 
    top: 0; 
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transform: 0.5s ease;
}
.wap-ss-img:hover .overlay{
    opacity: 1;
}




















/*  play list phát nhạc */
