* {
  margin: 0;
  padding: 0;
}

.head {
  background-color: #333;
  height: 47px;
  width: 100%;
  position: fixed;
  display: flex;
  z-index: 1000;
}
.header-main {
  margin-left: 140px;
  display: flex;
  position: relative;
  width: 1240px;
  flex-direction: row;
  flex-wrap: nowrap;
}

#header-logo {
  background-image: linear-gradient(0, #ff3500, #ff7500);
  width: 185px;
  color: var(--white-color);
  border-radius: 0px;
  height: 100%;
}

.header-logo__text {
  text-decoration: none;
  font-size: 17px;
}
.header-logo__icon {
  font-size: 25px;
  margin-right: 5px;
}
.header-center ul {
  height: 100%;
  display: flex;
  list-style: none;
  margin-left: 185px;
  top: 0;
  position: absolute;
}
.header-center ul li a {
  text-decoration: none;
  display: block;
  padding: 14px 25px;
  color: rgb(250, 250, 250);
  border-right: #1d1d1d 1px solid;
  height: 100%;
  font-size: 1.4rem;
}
.header-center ul li a:hover {
  background-color: #111;
}
.home {
  background-color: #111;
}
.header-search {
  margin-left: 10px;
  margin-top: 8px;
  text-align: center;
  font-size: 1.2rem;
  position: absolute;
  margin-left: 490px;
  top: 0;
  background-color: #fff;
  width: 394px;
  border-radius: 5px;
  border: 1px solid;
}
.icon-search {
  font-size: 1.4rem;
  color: #666;
  padding: 5px;
}
.header-search input {
  width: 350px;
  height: 30px;
  text-align: left;
  padding-left: 10px;
  border: none;
  outline: none;
}
.header-login {
  border-radius: 2px;
  background-color: #333;
  position: absolute;
  margin-left: 900px;
  top: 8px;
  width: 204px;
}
.header-login button {
  border-radius: 3px;
  height: 30px;
  cursor: pointer;
}
.Sign-in {
  width: 66px;
  background-color: #333;
  color: var(--white-color);
  font-size: 1.4rem;
  border: #5a5a5a solid 1px;
}
.Sign-in:hover {
  border: #f2f2f2;
}
.login {
  width: 120px;
  background-color: #f50;
  font-size: 1.3rem;
  color: var(--white-color);
  margin-left: 15px;
  border: none;
}
.header-upload {
  margin-left: 1110px;
  position: absolute;
  top: 0;
  margin-top: 15px;
}
.load {
  text-decoration: none;
  color: #b8b8b8;
  padding: 6px 15px;
  font-size: 1.5rem;
  margin-top: 15px;
}
.load__icon {
  font-size: 1.6rem;
  margin-left: 20px;
}
.header-about {
  float: left;
}
.header-about ul li a {
  text-decoration: none;
  font-size: 30px;
}
/* Tiêu đề  */
.body-sum {
  position: absolute;
  display: flex;
  margin-top: 50px;
}
.boder-butom {
  width: 900px;
  border-top: 0;
  border-bottom: 1px solid #f2f2f2;
  height: 65px;
  font-size: 30px;
}
.text-chart {
  padding: 20px 0px;
  font-size: 2.5rem;
  font-weight: 400;
}
.chart {
  margin-bottom: 0.8cm;
  border-bottom: 0;
}
.p-text {
  margin-top: -0.3cm;
  color: #999;
  font-size: 1.4rem;
}
#wapper {
  padding: 0px 0px;
}
.header-upload {
  background-color: #333333;
  color: #c5c5c5;
}
.row {
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 40px;
}
/* nav-left */

.inter {
  width: 360px;
  height: 1650px;
  background-color: rgb(255 255 255);
  padding: 20px 40px;
  border-left: 1px solid #f2f2f2;
  position: fixed;
  margin-left: 880px;
}
.text-danger {
  margin-top: 1cm;
  border-bottom: 1px solid #f2f2f2;
  color: #9b9b9b;
  font-size: 1.4rem;
  padding-bottom: 5px;
  margin-top: 60px;
}
.or-login {
  display: flex;
  padding: 10px 10px;
  margin-top: 20px;
}
.foot-wrapper {
  margin-top: 20px;
  color: #9b9b9b;
}
.foot-wrapper a {
  text-decoration: none;
  color: #9b9b9b;
  font-size: 1.2rem;
}
.foot-wrapper a:hover {
  color: rgb(123, 204, 204);
}
.foot-lange {
  display: flex;
  margin-top: 10px;
  font-size: 1.2rem;
}
.foot-lange a {
  text-decoration: none;
  color: #38d;
}
.foot-lange a:hover {
  color: rgb(116, 177, 177);
}

/*    Tạo Slide chart     */
.wap-ss-img {
  width: 100%;
}
.wap-ss-img img {
  height: 173px;
  margin: 0 auto;
}

.slick-prev:before,
.slick-next:before {
  font-family: fontawesome;
  font-size: 30px;
  color: rgb(206, 147, 19);
}
.text-min {
  font-size: 13px;
  color: #999;
}
.slick-prev:before,
.slick-next:before:hover {
  color: #f50;
}
img {
  border-radius: 10px;
}
.container {
  width: 880px;
  padding: 20px 30px 20px 30px;
  background-color: #fff;
  position: absolute;
}
.overlay {
  position: absolute;
  transform: translate (-50%, -50%);
}
.hover-img {
  position: absolute;
  transform: translate (-50%, -50%);
}
.textleft {
  float: left;
  margin-top: 4.5cm;
  font-size: 1.4rem;
}
.overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transform: 0.5s ease;
}
.wap-ss-img:hover .overlay {
  opacity: 1;
}

/*  play list phát nhạc */
